.proyect_lehenik {
    width: 100%;
    background-color: black;
    color: $color_rosa;
    @include imgs; // Incluir imágenes de fondo y otros estilos reutilizables
    padding-top: 46px;

    // =======================================================================
    // SECCIÓN: HERO PROYECTO
    // =======================================================================
    .hero_proyect {
        position: relative;
        width: 100%;
        height: 40vh; // Altura de la sección hero, puede ajustarse a 100vh si se desea pantalla completa
        background-image: url('/assets/img/lehenik/hero.png'); // Imagen de fondo del proyecto
        display: flex;
        background-size: cover;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: whitesmoke; // Color del texto en la sección hero
        overflow: hidden;

        .hero_content {
            position: relative;
            max-width: 450px;
            z-index: 2;
            line-height: 3.75rem;
            padding: 1rem;

            h2 {
                font-size: 1rem;
            }
        }
    }

    //
    //  SECCION: SUB MENÚ NAV
    //
    .submenu-trabajo {
        position: sticky;
        top: 49px; // Altura de tu header (ajústalo si es más alto)
        background-color: rgba(0, 0, 0, 0.9);
        width: 100%;
        z-index: 5;
        padding: 10px 0;
        margin-top: 0;
        border-bottom: 1px solid $color_rosa;
        border-top: 1px solid $color_rosa;

        ul {
            display: flex;
            justify-content: center;
            align-items: center;
            list-style: none;
            margin: 0;
            padding: 0;

            li {
                margin: 0 20px;
                font-size: 0.75rem;

                a {
                    color: $color_gray;
                    text-decoration: none;
                    transition: color 0.3s ease;

                    &:hover {
                        color: $color_rosa;
                    }
                }
            }
        }
    }

    #investigacion,
    #naming,
    #paleta,
    #tipografia,
    #logotipo,
    #tratamiento,
    #senaletica,
    #programa,
    #aplicaciones {
        scroll-margin-top: 100px; // ajusta según la suma del alto de tu nav + submenú
    }

    // =======================================================================
    // SECCIÓN: INFORMACIÓN DEL PROYECTO
    // =======================================================================
    .proyect_content_lehenik {
        .info_proyect {
            margin: 0 auto;
            display: flex;
            justify-content: center;
            gap: 3rem;
            width: 700px;
            padding: 2.5rem 2rem 0 2rem;
            margin-bottom: 6rem;

            // border-bottom: 1px solid $color_rosa;


            .brief {
                margin: 0 auto;
                max-width: 60%; // Ancho máximo para la sección brief


                .info_brief {
                    // Estilos para la información de briefing

                    #briefing_title {
                        color: whitesmoke;
                        margin-bottom: 1rem;
                    }

                    #briefing_content {
                        color: $color_gray; // Sustituido por variable $color_gray
                        margin-bottom: 1.5rem;
                        @include body_text; // Estilo de texto reutilizable
                    }
                }

                // =======================================================================
                // SECCIÓN: CATEGORÍAS DEL PROYECTO
                // =======================================================================
                .categories {

                    width: 600px;
                    @include body_text;
                    color: $color_gray;
                    font-weight: bold;
                }
            }

            .plus_info {
                margin: 0 auto;
                width: 150px;

                .asignatura {
                    // Estilos para la asignatura

                    #asignatura_title {
                        color: whitesmoke;
                        margin-bottom: 1rem;
                    }

                    #asignatura_content {
                        color: $color_gray; // Sustituido por variable $color_gray
                        margin-bottom: 1.5rem;
                        @include body_text;
                    }
                }
            }
        }



        // =======================================================================
        // SECCIÓN: VIDEO PROYECTO (imagen de portada o video)
        // =======================================================================
        #video_proyect {
            display: flex;
            justify-content: center;
            margin-bottom: 6rem;
        }

        // =======================================================================
        // SECCIÓN: INVESTIGACIÓN (títulos, textos, enlaces)
        // =======================================================================
        #investigacion {
            padding: 0 10rem 0;
            margin-bottom: 8rem;

            .title {
                color: $color_rosa;
                margin-bottom: 1rem;
                @include titulo_portfolio;
                font-size: 1.75rem;
            }

            .investigacion_content {
                display: flex;
                gap: 3rem;

                .content_images {
                    display: flex;
                    gap: 1rem;
                    height: 350px;
                }

                .content_text {
                    @include body_text;
                    color: $color_gray; // Sustituido por variable $color_gray
                    width: 405px;
                }
            }
        }

        // =======================================================================
        // NAMING (sección de cubiertas)
        // =======================================================================
        #naming {
            @include margenes_contenido;
            width: 100%;
            margin-bottom: 8rem;

            .title {
                color: $color_rosa;
                margin-bottom: 1rem;
                @include titulo_portfolio;
                font-size: 1.75rem;
            }

            .content_naming {
                display: flex;
                gap: 3rem;

                img {
                    @include imgs;
                    width: 350px;
                }

                .content_text {
                    color: $color_gray; // Sustituido por variable $color_gray
                    @include body_text;
                    max-width: 400px;

                    .content_title {
                        color: whitesmoke;
                        font-size: large;
                        margin-bottom: .5rem;
                    }

                    .text {
                        margin-bottom: 1.5rem;
                    }
                }
            }
        }

        // =======================================================================
        // SECCIÓN: PALETA
        // =======================================================================
        #paleta {
            @include margenes_contenido;
            width: 100%;
            margin-bottom: 8rem;

            .title {
                color: $color_rosa;
                margin-bottom: 1rem;
                @include titulo_portfolio;
                font-size: 1.75rem;
            }

            .paleta_content {
                @include body_text;
                color: $color_gray;
                margin-bottom: 1rem;
                display: flex;
                align-items: flex-end;
                gap: 3rem;

                .paleta_img {
                    img {
                        width: 600px;
                    }
                }

                .paleta_text {
                    max-width: 400px;

                    .colores_title {
                        color: whitesmoke;
                        font-size: large;
                        margin-bottom: 0.5rem;

                    }

                    .colores_text {
                        margin-bottom: 2rem;
                    }

                }
            }
        }

        // =======================================================================
        // SECCIÓN: TIPOGRAFIA
        // =======================================================================
        #tipografia {
            @include margenes_contenido;
            width: 100%;
            margin-bottom: 8rem;

            .title {
                color: $color_rosa;
                margin-bottom: 1rem;
                @include titulo_portfolio;
                font-size: 1.75rem;
            }

            .tipo_content {
                @include body_text;
                color: $color_gray;
                display: flex;
                gap: 8rem;

                .tipo_text {
                    max-width: 350px;

                    .title_title {
                        color: whitesmoke;
                        font-size: large;
                        margin-bottom: 0.5rem;

                    }

                    .title_text {
                        margin-bottom: 2rem;
                    }
                }

                .image_content {
                    img {
                        width: 800px;
                    }
                }
            }
        }

        // =======================================================================
        // SECCIÓN: LOGOTIPO
        // =======================================================================
        #logotipo {
            @include margenes_contenido;
            width: 100%;
            margin-bottom: 8rem;

            .title {
                color: $color_rosa;
                margin-bottom: 1rem;
                @include titulo_portfolio;
                font-size: 1.75rem;
            }

            .logo_content {
                @include body_text;
                color: $color_gray;
                display: flex;
                gap: 3rem;

                .logo_construccion {
                    display: flex;
                    flex-direction: column;

                    .logo_superior {
                        display: flex;
                        gap: 3rem;

                        .logo_img {
                            img {
                                width: 580px;
                            }
                        }

                        .logo_text {
                            color: $color_gray;
                            max-width: 330px;
                        }
                    }

                    .logo_colores {
                        display: flex;
                        // flex-direction: column;
                        gap: 1rem;
                        margin-top: 1rem;

                        .logo_bn,
                        .logo_color {
                            img {
                                width: 283px;
                                height: auto;
                            }
                        }
                    }
                }
            }
        }

        // =======================================================================
        // SECCIÓN: TRATAMIENTO
        // =======================================================================
        #tratamiento {
            @include margenes_contenido;
            width: 100%;
            margin-bottom: 8rem;

            .title {
                color: $color_rosa;
                margin-bottom: 1rem;
                @include titulo_portfolio;
                font-size: 1.75rem;
            }

            .tratamiento_content {
                @include body_text;
                color: $color_gray;
                display: flex;
                gap: 3rem;

                .tratamiento_image {
                    img {
                        width: 770px;
                    }
                }

                .tratamiento_text {
                    max-width: 400px;

                    .content_title {
                        color: whitesmoke;
                        font-size: large;
                        margin-bottom: .5rem;

                    }

                }
            }
        }

        // =======================================================================
        // SECCIÓN: SEÑALETICA
        // =======================================================================
        #senaletica {
            @include margenes_contenido;
            width: 100%;
            margin-bottom: 8rem;

            .title {
                color: $color_rosa;
                margin-bottom: 1rem;
                @include titulo_portfolio;
                font-size: 1.75rem;
            }

            .texto_superior {
                color: $color_gray;

                p {
                    color: $color_gray;
                    font-size: 1rem;
                    margin-bottom: 0.5rem;
                    line-height: 1.5;
                    max-width: 500px;
                }

                margin-bottom: 4rem;
            }

            .contenedor_iconos {
                display: flex;
                flex-wrap: wrap;
                justify-content: left;
                gap: 3rem;

                .icono_item {
                    display: flex;
                    flex-direction: column;
                    align-items: left;
                    width: 150px;

                    .icono {

                        height: auto;

                        img {
                            max-width: 90px;
                            height: 60px;
                            object-fit: contain;
                        }
                    }

                    .titulo {
                        color: whitesmoke;
                        font-weight: bold;
                        font-size: 1rem;
                        margin-top: 1rem;
                        text-align: left;
                    }

                    .descripcion {
                        color: $color_gray;
                        font-size: 0.875rem;
                        text-align: left;
                        margin-top: 0.5rem;
                        line-height: 1.4;
                    }
                }
            }
        }

        // =======================================================================
        // SECCIÓN: PROGRAMA DE MANO
        // =======================================================================
        #programa {
            @include margenes_contenido;
            width: 100%;
            margin-bottom: 8rem;

            .title {
                color: $color_rosa;
                margin-bottom: 1rem;
                @include titulo_portfolio;
                font-size: 1.75rem;
            }

            .programa_content {
                display: flex;
                gap: 3rem;

                .galeria {
                    display: grid;
                    grid-template-columns: 1fr 2fr; // Izquierda: 2 imágenes apiladas, derecha: 1 grande
                    gap: 1rem;
                    width: 832px;

                    .columna_izq {
                        display: flex;
                        flex-direction: column;
                        gap: 1rem;

                        img {
                            width: auto;
                            height: 210px;
                        }
                    }

                    .columna_der {
                        img {
                            width: auto;
                            height: 435px;
                        }
                    }
                }

                .text_content {
                    display: flex;
                    flex-direction: column;
                    max-width: 350px;

                    .titulo {
                        color: whitesmoke;
                        font-size: large;
                        margin-bottom: .5rem;
                    }

                    .texto {
                        color: $color_gray;
                        margin-bottom: 1.5rem;
                    }
                }
            }
        }


        // =======================================================================
        // SECCIÓN: APLICACIONES
        // =======================================================================
        #aplicaciones {
            @include margenes_contenido;
            width: 100%;
            max-width: 100vw;
            padding: 0 10rem 0;
            text-align: left;
            margin-bottom: 8rem;

            .title {
                @include titulos_contenidos;
                color: $color_rosa;
                margin-bottom: 1rem;
            }

            .aplicaciones_list {
                @include body_text;
                color: $color_gray;
                list-style: none; // quitamos el estilo por defecto
                padding-left: 1.75rem;

                margin-bottom: 2rem;

                li {
                    position: relative;
                    padding-left: 1rem;

                    &::before {
                        content: '';
                        position: absolute;
                        left: 0;
                        top: 0.6em;
                        width: 0.5em;
                        height: 0.25em;
                        background-color: $color_rosa;
                        border-radius: 50%;
                    }
                }
            }

            .carrusel-wrapper {
                position: relative;
                width: fit-content;
                margin-right: auto; // Esto alinea el carrusel a la derecha
                display: flex;
                align-items: center;
                justify-content: center;
                background-size: cover;

                .prev,
                .next {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    background-color: transparent;
                    border: none;
                    font-size: 3rem;
                    color: whitesmoke;
                    padding: 1rem;
                    cursor: pointer;
                    z-index: 10;
                    transition: color 0.3s;

                    &:hover {
                        color: $color_rosa;
                    }
                }

                .prev {
                    left: -3rem; // Ajuste para el botón de "anterior"
                }

                .next {
                    right: -3rem; // Ajuste para el botón de "siguiente"
                }

                .carrusel-viewport {
                    width: 877px;
                    /* Ancho del contenedor de la imagen */
                    height: 620px;
                    /* Alto del contenedor de la imagen */
                    background-size: cover;
                    overflow: hidden;
                    position: relative;
                }

                .carrusel-track {
                    display: flex;
                    transition: transform 0.5s ease;
                    // width: calc(877px * 19); /* Ajusta este valor según el número de imágenes */
                }

                .slide {
                    flex: 0 0 auto;
                    width: 877px;
                    /* Ancho del contenedor de la imagen */
                    height: 620px;
                    /* Alto del contenedor de la imagen */
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                        /* Asegura que la imagen no se deforme */
                        display: block;
                    }
                }
            }
        }




        // =======================================================================
        // SECCIÓN: PROGRAMAS (sección para mostrar programas o habilidades)
        // =======================================================================
        .programas_lehenik {
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            padding-bottom: 3rem;

            .title {
                @include programas_title;
                color: whitesmoke
            }

            .programas_icon {
                @include icons_programa;
            }
        }
    }
}

@media (max-width: 768px) {
    .proyect_lehenik {
        padding-top: 30px;

        .hero_proyect {
            height: 30vh;

            .hero_content {
                max-width: 250px;
            }
        }

        .submenu-trabajo {
            display: none;
        }

        .proyect_content_lehenik {
            .info_proyect {
                flex-direction: column;
                width: 90%;
                padding: 2rem 1rem;
                gap: 2rem;

                .brief {
                    max-width: 100%;

                    .categories {
                        width: 100%;
                    }
                }

                .plus_info {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    gap: 1.5rem;

                }
            }


            #investigacion,
            #naming,
            #paleta,
            #tipografia,
            #logotipo,
            #tratamiento,
            #senaletica,
            #programa,
            #aplicaciones {
                padding: 0 2rem;
                width: 100%;
                margin-bottom: 4rem;

                .title {
                    font-size: 1.5rem;
                }
            }

            #investigacion {
                .investigacion_content {
                    flex-direction: column-reverse;
                    gap: 2rem;
                    width: 90%;

                    .content_images {
                        flex-direction: column;
                        height: auto;

                        img {
                            width: 100%;
                            height: auto;
                        }
                    }

                    .content_text {
                        width: 100%;
                    }
                }
            }


            #naming {
                .content_naming {
                    flex-direction: column-reverse;
                    gap: 2rem;
                    width: 90%;

                    img {
                        width: 100%;
                        height: auto;
                    }

                    .content_text {
                        max-width: 100%;
                    }
                }
            }


            #paleta {
                .paleta_content {
                    flex-direction: column-reverse;
                    align-items: flex-start;
                    gap: 2rem;
                    width: 90%;

                    .paleta_img {
                        img {
                            width: 100%;
                            height: auto;
                        }
                    }

                    .paleta_text {
                        max-width: 100%;
                    }
                }
            }

            #tipografia {
                .tipo_content {
                    flex-direction: column;
                    gap: 1rem;
                    width: 90%;

                    .tipo_text {
                        max-width: 100%;
                    }

                    .image_content {
                        img {
                            width: 100%;
                            height: auto;
                        }
                    }
                }
            }

            #logotipo {
                .logo_content {
                    flex-direction: column;
                    gap: 2rem;
                    width: 90%;

                    .logo_construccion {
                        .logo_superior {
                            flex-direction: column-reverse;
                            gap: 1.5rem;

                            .logo_img {
                                img {
                                    width: 100%;
                                    height: auto;
                                }
                            }

                            .logo_text {
                                max-width: 100%;
                            }
                        }

                        .logo_colores {
                            flex-direction: column;
                            align-items: left;
                            gap: 1rem;

                            .logo_bn,
                            .logo_color {
                                img {
                                    width: 100%;
                                    max-width: 283px;
                                    height: auto;
                                }
                            }
                        }
                    }
                }
            }

            #tratamiento {
                .tratamiento_content {
                    flex-direction: column-reverse;
                    gap: 2rem;
                    width: 90%;

                    .tratamiento_image {
                        img {
                            width: 100%;
                            height: auto;
                        }
                    }

                    .tratamiento_text {
                        max-width: 100%;
                    }
                }
            }

            #senaletica {
                .texto_superior {
                    p {
                        font-size: 0.95rem;
                        max-width: 100%;
                    }
                }

                .contenedor_iconos {
                    width: 90%;
                    gap: 2.5rem;
                    justify-content: center;

                    .icono_item {
                        width: 80%;
                        align-items: center;
                        text-align: center;
                        // margin-bottom: 2rem;

                        .titulo,
                        .descripcion {
                            text-align: center;
                        }
                    }
                }
            }

            #programa {
                .programa_content {
                    flex-direction: column-reverse;
                    gap: 2rem;
                    width: 90%;

                    .galeria {
                        display: flex;
                        flex-direction: column-reverse;
                        width: 100%;

                        .columna_izq {
                            flex-direction: row;
                            justify-content: center;
                            flex-wrap: wrap;

                            img {
                                height: auto;
                                max-width: 47.5%;
                            }
                        }

                        .columna_der {
                            img {
                                width: 100%;
                                height: auto;
                            }
                        }
                    }

                    .text_content {
                        max-width: 100%;
                        text-align: left;


                        .titulo {
                            font-size: 1.2rem;
                        }

                        .texto {
                            font-size: 0.95rem;
                            margin-bottom: 1rem;
                        }
                    }
                }
            }

            #aplicaciones {
                .aplicaciones_list {
                    padding-left: 0;

                    li {
                        padding-left: 1.25rem;
                        text-align: left;

                        &::before {
                            top: 0.6em;
                            left: 0.25rem;
                        }
                    }
                }

                .carrusel-wrapper {
                    position: relative;
                    width: 90%;
                    overflow: hidden;

                    .prev,
                    .next {
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        font-size: 2rem;
                        padding: 0.5rem;
                        border-radius: 50%;
                        color: white;
                        z-index: 5;
                        border: none;
                        cursor: pointer;
                        transition: background 0.3s;

                        &:hover {
                            background: rgba(0, 0, 0, 0.6);
                        }
                    }

                    .prev {
                        left: 0.5rem;
                    }

                    .next {
                        right: 0.5rem;
                    }

                    .carrusel-viewport {
                        width: 100% !important;
                        max-width: 100%;
                    }

                    .carrusel-track {
                        width: 100%;
                    }

                    .slide {
                        width: 100% !important;
                        max-width: 100%;

                        img {
                            width: 100%;
                            height: auto;
                            object-fit: contain;
                        }
                    }

                }
            }


        }
    }
}